<div class="users-box">
  <ul>
    <% if contents.present?%>
      <% contents.each do |user| %>
        <div class="users-repeat-box">
          <li class="users-box-left-info">
            <% if user.img?%>
              <img src='<%= user.img %>' alt="ユーザーアイコン" width="110" height="110">
            <% else %>
              <%= image_tag 'default.png', :alt => "ユーザーアイコン", :size => '110x110'%>
            <% end %>
          </li>
          <div class="users-box-right-info">
            <li class="users-name"><%= user.name%></li>
            <li class="users-content"><%= user.content %></li>
          </div>
            <div class="clearfix"></div>
          <a href="/users/<%= user.id %>"></a>
        </div>
      <% end %>
    <% else %>
      <% if action_name == 'following' %> <!-- followingとその他(follower)で条件分岐している-->
        <div class="text-center mt-5">フォローしてるユーザーはいません</div>
      <% else %>
        <div class="text-center mt-5">フォロワーはいません</div>
      <% end %>
    <% end %>
  </ul>
    <div class="users-paginate-bottom">
</div>