<div class="user-post-box">
  <ul>
    <% if posts.present? %>
      <% posts.each do |post| %>
        <div class="post-repeat-box">
          <li class="post-image-box">
            <% if post.img?%>
              <img src='<%=post.img %>' alt="投稿の画像" width="190" height="190">
            <% else %>
              <%= image_tag 'default.png', alt: "投稿の画像", size: '190x190'%>
            <% end %>
          </li> 
          <div class="post-box-right">
            <li class="post-title-box"><%= post.title %></li>
            <li class="post-content-box"><%=safe_join(post.content.split("\n"),tag(:br))%></li>
            
            <li class="post-price-box"><%= post.price.to_i.to_s(:delimited) %>円(税込み)</li>
          </div>
            <div class="clearfix"></div>
          <a href="/posts/<%= post.id %>">aaa</a>
        </div>
      <% end %>
    <% else %>
      <% if action_name == 'show' %> <!-- showとその他(likes)で条件分岐している-->
        <div class="text-center mt-5">投稿はありません</div>
      <% else %>
        <div class="text-center mt-5">いいねした投稿はありません</div>
      <% end %>
    <% end %>
  </ul>
</div>