<div class="user-profiel-box">
  <div class="user-profiel-left-content">
    <div class="user-image-box">
      <% if user.img?%>
        <img src='<%= user.img %>' alt="ユーザーアイコン" width="260" height="260">
      <% else %>
        <img src="/assets/default.png" alt="ユーザーアイコン" width="260" height="260">
      <% end %>
    </div>
    <div class="user-button-box">
      <!-- フォローボタン-->
      <% if user_signed_in? %>
        <% unless user == current_user %>
          <% if current_user.following?(user) %>
            <%= link_to unfollow_path(user.id), method: :delete do %>
              <p class="btn btn-primary btn-lg" id="follow-button">
                <span class="normal">フォロー中</span>
                <span class="hover">フォロー解除</span>
              </p>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to follow_path(user.id), method: :post do %>
            <p class="btn btn-primary btn-lg bg-white text-primary" id="follow-button">フォロー</p>
          <% end %>
        <% end %>
      <% end %>
      <!-- メッセージボタン-->
      <% unless user.id == current_user.id %>
        <% if @isRoom == true %> <!--すでにroomがあったら「メッセージへ」と表示してメッセージに飛ばす-->
          <p id="message-button">
            <a href="/rooms/<%=@roomId%>"><i class="far fa-envelope btn btn-lg" alt="メッセージを送る"></i></a> 
          </p>
        <% else %>
          <%= form_with model: @room, local: true do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: user.id %> <!-- entryテーブルにuser_idを送る -->
            <% end %>
          <p id="message-button">
            <%= f.button type: "submit" do %>
              <i class="far fa-envelope btn-md" alt="メッセージを送る"></i>
            <% end %>
          </p>
          <% end %>
        <% end %>
        <!-- ログインしているのが自分だったら-->
      <% else %>
          <p>プロフィールを編集</p>
      <% end %>
    </div>
  </div>

  <div class="user-profiel-right-content">
    <div class="user-name-box">
      <%= user.name%>さんのページ
    </div>
    <div class="user-content-box">
      <%= user.content%>
    </div>
    <div class="user-area-box"></div>
  </div>
    <div class="clearfix"></div>
</div>