<%= render "/layouts/header" %>

<div class="users-main">
  <div class="users-main-wrapper">
    <%= render_breadcrumbs separator: ' > ' %>

    <%= render "profiel", user: @user %>

    <%= render "navbar", user: @user %>

    <%= render "list", contents: @user.follower_user %>
  </div>
</div>