<%= render "/layouts/header" %>

<div class="users-main">
  <div class="users-main-wrapper">

    <%= render "profiel", user: @user %>

    <!-- //中央のナビゲーションバー-->
    <div class="user-profiel-nav">
      <nav>
        <ul>
          <li><%= link_to '投稿一覧', @user, class: "header-item" %></li>
          <li><%= link_to 'フォロー中', following_user_path, class: "header-item"%></li>
          <li><%= link_to 'フォワー', follower_user_path, class: "header-item"%></li>
          <li><a href="/users/<%= @user.id %>/likes" class="header-item header-last-item">いいね</a></li>
            <div class="clearfix"></div>
        </ul>
      </nav>
    </div>
    <!-- 中央のナビゲーションバー//-->

    <!-- //投稿一覧、フォロー中、フォロワー、いいねのボックス-->
    
      <div class="user-post-box">
        <ul>
          <% @posts.each do |post| %>
            <div class="post-repeat-box">
              <li class="post-image-box">
                <% if post.img?%>
                  <img src='<%=post.img %>' alt="投稿の画像" width="190" height="190">
                <% else %>
                  <img src="/assets/default.png" alt="投稿の画像" width="190" height="190">
                <% end %>
              </li> 
              <div class="post-box-right">
                <li class="post-title-box"><%= post.title %></li>
                <li class="post-content-box"><%= post.content%></li>
                <!-- ここにレビューの星平均を入れる-->
                <li class="post-price-box"><%= post.price%>円(税込み)</li>
              </div>
                <div class="clearfix"></div>
              <a href="/posts/<%= post.id %>">aaa</a>
            </div>
          <% end %>
        </ul>
      </div>
    <!-- 投稿一覧、フォロー中、フォロワー、いいねのボックス//-->
  </div>
</div>