<table class="table table-bordered border-success table-hover table-sm posts_table">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <th><%= post.id %></th>
        <td><%= link_to post.title, post %></td>
        <td><%= post.content %></td>
        <td><%= post.price %>円(税込み)</td>
        <td><%= link_to '削除', post, class: 'btn btn-outline-info', method: :delete %></td>
      </tr>
    <% end %> 
  </tbody>
</table>



<a href="<%= following_user_path(@user) %>">
  <%= @user.following.count %> フォロー中
</a>
<a href="<%= follower_user_path(@user) %>">
  <%= @user.follower.count %> フォロワー
</a>