<div class="home-wrapper">
  <div class="home-header">
    <div class="header-wrapper">
      <div class="header-top">
        <div class="home-header-icon-box">
          <a href="/" alt="オフリード">
            <%= image_tag "offlead.png", :size => '130x130'%>
          </a>
        </div>

        <div class="home-header-list-box">
          <nav>
            <ul>
              <% if user_signed_in? %>
                <li><%= link_to 'ユーザー一覧', users_path, class: "list-item" %></li>
                <li><a href="/users/<%= current_user.id %>", class="list-item">マイページ</a></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path,
                        method: :delete, class: "home-header-last-list list-item"%></li>
              <% else %>
                <li><%= link_to 'ユーザー一覧', users_path, class: "list-item" %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: "home-header-last-list list-item"%></li>
                <div class="clearfix"></div>
              <% end %>
            </ul>
          </nav>
          <div class="clearfix"></div>
        </div>

      </div>
      <div id="catchphrase">
        <span>「ドッグトレーニングをもっと身近に」<br>
              オフリードではあなたの愛犬に合った<br>
              ドッグトレーナーが見つかります。</span>
      </div>
      <div id="guest-login">
        <% unless user_signed_in? %>
          ログインせずに機能を試す→<%= link_to 'ゲストログイン', users_guest_sign_in_path, 
                    class: "btn btn-primary btn-lg ml-2", method: :post %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="home-main">
    <div class="home-main-wrapper">
      <div class="main-top">
        <div class="about-offlead">オフリードとは？</div>
        <div class="offlead-content"> 
        ドッグトレーナーと犬の飼い主をつなげるマッチングサービスです。<br>
        日本ではまだまだマイナーなドッグトレーニングですが、欧米では文化として根付いている国も多くあります。<br>
        「飼い始めたばかりで、しつけ方が分からない」「愛犬がなかなか言うことを聞いてくれない」<br>
        そんなお悩みは経験豊富なプロのドッグトレーナーに任せましょう。<br>
        きっと、愛犬との日常がもっと楽しくなりますよ。
        </div>
      </div>
      <div class="main-bottom mt-5">
        <div class="howto">使い方</div>
        <div class="howto-content">
          STEP1 : まずはドッグトレーナーを探してみましょう。<br>
          STEP2 : 気になるドッグトレーナーが見つかったらフォローやメッセージをしてみてください。<br>
          STEP3 : メッセージ内で愛犬のことについてヒアリングの後に日時の調整をしてください。<br>
          STEP4 : あとは当日、ドッグトレーニングを受けるだけ！終わったら口コミを投稿してみましょう。
        </div>
      </div>
    </div>
  </div>
</div>