<div class="home-wrapper">
  <div class="home-header">
    <div class="header-wrapper">
      <div class="header-top">
        <div class="home-header-icon-box">
          <a href="/" alt="オフリード">
            <%= image_tag "offlead.png", :size => '130x130'%>
          </a>
        </div>

        <div class="home-header-list-box">
          <nav>
            <ul>
              <% if user_signed_in? %>
                <li><%= link_to 'ユーザー一覧', users_path, class: "list-item" %></li>
                <li><a href="/users/<%= current_user.id %>", class="list-item">マイページ</a></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path,
                        method: :delete, class: "home-header-last-list list-item"%></li>
              <% else %>
                <li><%= link_to 'ユーザー一覧', users_path, class: "list-item" %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: "home-header-last-list list-item"%></li>
                <div class="clearfix"></div>
              <% end %>
            </ul>
          </nav>
          <div class="clearfix"></div>
        </div>

      </div>
      <div id="catchphrase">
        <span>愛犬ともっと絆を深めませんか？テスト<br>
              オフリードであなたの愛犬に合った<br>
              ドッグトレーナー が見つかります</span>
      </div>
      <div id="guest-login">
        <% unless user_signed_in? %>
          ログインせずに機能を試す→<%= link_to 'ゲストログイン', users_guest_sign_in_path, 
                    class: "btn btn-primary btn-lg ml-2", method: :post %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="home-main">
    <div class="home-main-wrapper">
      <div class="main-top">
        <div class="about-offlead">オフリードとは？</div>
        <div class="offlead-content"> 
        ドッグトレーナーと犬を飼っている人をつなげるマッチングサービスです。<br>
        日本ではまだまだマイナーなドッグトレーニングですが、海外では当たり前。<br>
        「なかなか言うことを聞いてくれない」「飼い始めたばかりだけど、しつけ方が分からない」<br>
        そんなお悩みは経験豊富なプロのドッグトレーナーに任せましょう。<br>
        きっと今までよりも素敵な愛犬ライフが見つかりますよ。
        </div>
      </div>
      <div class="main-bottom mt-5">
        <div class="howto">使い方</div>
        <div class="howto-content">
          ①まずはドッグトレーナーを検索しましょう。<br>
          ②気になるドッグトレーナーが見つかったらフォローやメッセージをしてみてください。<br>
          ③メッセージ内で愛犬のことについてヒアリングの後に日時や具体的な金額を決めてください。<br>
          ④当日、ドッグトレーニング を受けてみてください。
        </div>
      </div>
    </div>
  </div>
</div>