  <h1>編集ページ</h1>
  <div class="ml-auto posts_button text-right">
    <%= link_to '投稿一覧', posts_path, class: "btn btn-outline-info"%>
  </div>
  <div class="form-group">
    <%= form_with(model: @post, local: true) do |f| %>
      <div class="form-group">
        <%= f.label 'タイトル'%>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '内容'%>
        <%= f.text_area :content, class: "form-control", size: "20x15" %>
      </div>
      <div class="form-group">
        <%= f.label '金額'%>
        <%= f.number_field :price, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label '画像'%>
        <%= f.file_field :img, class: "image" %>
      </div>
      <%= f.submit '更新する', class: 'btn btn-primary' %>
    <% end %>
  </div>