<h1>新規投稿</h1>
<div class="content"></div>
  <%= form_for(@post) do |f| %>
    <div class="form-group">
      <%= f.label 'タイトル'%>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label '内容'%>
      <%= f.text_area :content, class: "form-control", size: "20x15" %>
    </div>
    <div class="form-group">
      <%= f.label '金額'%>
      <%= f.number_field :price, class: "form-control" %>
    </div>
    <%= f.submit '投稿する', class: 'btn btn-primary' %>
  <% end %>
</div>