<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <%= link_to '投稿一覧', posts_path, class: "btn btn-outline-info"%>
        <%= link_to '編集', edit_post_path, class: "btn btn-outline-info"%>
    </div>
</div>

<div class="card">
  <div class="card-header bg-info text-white">
      <h4><%= @post.title %></h4>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @post.content %></p>
  </div>
  <div class="card-footer">
    <p class="text-right font-weight-bold mr-10"><%= @post.price %>円(税込み)</p>
  </div>
</div>