<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <%= link_to '投稿一覧', posts_path, class: "btn btn-outline-info"%>
        <%= link_to '編集', edit_post_path, class: "btn btn-outline-info"%>
        <% if current_user.already_liked?(@post)%>
          <%= button_to 'いいね！', post_like_path(@post), method: :delete, class: "btn btn-danger"%>
        <% else %>
          <%= button_to 'いいね！', post_likes_path(@post), class: "btn btn-outline-danger"%>
        <% end %>
    </div>
</div>

<div class="card">
  <p>
    <%= image_tag @post.img.url if @post.img? %>
  </p>
  <div class="card-header bg-info text-white">
      <h4><%= @post.title %></h4>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @post.content %></p>
  </div>
  <div class="card-footer">
    <p class="text-right font-weight-bold mr-10"><%= @post.price %>円(税込み)</p>
  </div>
</div>

<div class="comment-wrapper border-top mb-10">
  <h2 class="mt-5 text-center">コメント一覧</h2>
  <% @reviews.each do |review| %>
    <div>
      <%= review.title %>
      <%= review.content %>
    </div>
  <% end %>
  <h2 class='m-5 0 text-center'>口コミを投稿する</h2>
  <% if user_signed_in? %>
    <%= form_for @review do |f| %>
    <div class="form-group row">
      <%= f.label 'タイトル', class: 'col-md-2 col-form-label'%>
      <div class="col-md-9">
        <%= f.text_field :title, class: "form-control"%>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label '内容', class: 'col-md-2 col-form-label'%>
      <div class="col-md-9">
        <%= f.text_area :content, class: "form-control", rows: 5%>
      </div>
    </div>

    <!-- 星評価-->
    <div class="form-group row" id="star">
      <%= f.label :rate,'評価', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :rate, id: :review_star %>
    </div>

    <!-- 星評価javascript -->
    <script>
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'post[rate]',
      half: true,
    });
    </script>  
      
      <%= f.hidden_field :post_id, class: "form-control" %>
      <%= f.submit '投稿する', class: 'mb-5 btn btn-primary' %>
    <% end %>
  <% end %>
</div>
