<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <%= link_to '投稿一覧', posts_path, class: "btn btn-outline-info"%>
        <%= link_to '編集', edit_post_path, class: "btn btn-outline-info"%>
    </div>
</div>

<div class="card">
  <p>
    <%= image_tag @post.img.url if @post.img? %>
  </p>
  <div class="card-header bg-info text-white">
      <h4><%= @post.title %></h4>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @post.content %></p>
  </div>
  <div class="card-footer">
    <p class="text-right font-weight-bold mr-10"><%= @post.price %>円(税込み)</p>
  </div>
</div>

<div class="comment-wrapper border-top mb-10">
  <p class="mt-5">コメント一覧</p>
  <% @reviews.each do |review| %>
    <div>
      <%= review.title %>
      <%= review.content %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= form_for @review do |f| %>
      <%= f.label 'タイトル'%>
      <%= f.text_field :title, class: "form-control"%>
      <%= f.label '内容'%>
      <%= f.text_area :content, class: "form-control", rows: 5%>
      <%= f.hidden_field :post_id, class: "form-control" %>
      <%= f.submit 'コメントする', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>