<%= render '/layouts/header'%>

  <h2 class='m-5 0 text-center'>口コミを投稿する</h2>
  <% if user_signed_in? %>
    <%= form_for @review do |f| %>
    <div class="form-group row">
      <%= f.label 'タイトル', class: 'col-md-2 col-form-label'%>
      <div class="col-md-9">
        <%= f.text_field :title, class: "form-control"%>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label '内容', class: 'col-md-2 col-form-label'%>
      <div class="col-md-9">
        <%= f.text_area :content, class: "form-control", rows: 5%>
      </div>
    </div>

    <!-- 星評価-->
    <div class="form-group row" id="star">
      <%= f.label :rate,'評価', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :rate, id: :review_star %>
    </div>

      

    <!-- 星評価javascript -->
    <script>
    $('#star').raty({
      size     : 30,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'review[rate]',
      half: true,
    });
    </script>  
      
      <%= f.hidden_field :post_id, value: @post.id, class: "form-control" %>
      <%= f.submit '投稿する', class: 'mb-5 btn btn-primary' %>
    <% end %>
  <% end %>
</div>

