<!DOCTYPE html>
<html>
  <head>
    <%= render "/layouts/google_analytics" %>
    <title>ドッグトレーナーを探しているならオフリード</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="「犬を飼い始めたけど、しつけはどうやればいいの？」
    「愛犬の吠え癖、噛み癖が治らない...」そんなお悩みありませんか？オフリードでは、あなたの愛犬にぴったりのドッグトレーナーが見つかります。" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> <!-- 追加 -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
    <%= render "/layouts/footer" %> 
</html>

