<!DOCTYPE html>
<html>
  <head>
    <title>オフリード</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= yield %>

    <footer>
      <h2>オフリード</h2>
      <ul>
        <li><a href="#">利用規約</li>
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </footer>
  </body>
</html>
